@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Ysabeau', sans-serif;
    line-height: 2;
    
}

.header{
    height: 95vh;
    background-image: linear-gradient(to bottom right, #ffffff71, #0000004d ), url('../img/cake1.jpeg');
    background-position: center;
    background-size: cover;
    
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -35px);
    overflow: hidden;
}
.text-box h1{
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 3px #0c0707, 0 0 5px #0bdee6;
}
.heading-main{
    display: block;
    font-size: 5rem;
    letter-spacing: 1.1rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    
}

@keyframes moveInLeft{
    0%{ transform: translateX(-1000px); opacity: 0;}
    80%{transform: translateX(50px);}
    100%{transform: translateX(0);opacity: 1;}
}
.heading-sub{
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.3rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes moveInRight{
    0%{ transform: translateX(1000px); opacity: 0;}
    80%{transform: translateX(-50px);}
    100%{transform: translateX(0);opacity: 1;}
}
.btn-container {
    text-align: center;
}
.btn {
    border-bottom: 0.2rem solid rgb(228, 186, 186);
    color: white;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 5rem;
    text-decoration: none;
    text-transform: uppercase;  
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.192);
    box-shadow: 0 1rem 2rem rgba(5, 5, 5, 0.219);
    transform: translateY(-5px);
}
.btn:active{
    box-shadow: 0 0.5rem 1rem rgba(5, 5, 5, 0.219);
    transform: translateY(5px);
}
.main{
    height: 1200px;
    background-color: #7ca5bd;
    text-align: center;
    padding-top: 5rem;
    clip-path: polygon(57% 4%, 100% 7%, 100% 43%, 100% 87%, 79% 94%, 41% 98%, 0 100%, 0% 43%, 0 0);
    margin-top: -5rem;
}
.main h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0 0 3px #0c0707, 0 0 5px #0bdee6;
}
.gallery {
    margin: 0 auto;
    height: 100%;
    position: relative;
    width: 75%;
}

.gallery_photo {
    position: absolute;
    width: 500px;
    box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.404);
    outline-offset: 1rem;
    transition: all 0.3s;
    z-index: 10;
}
.gallery_photo:hover{
    outline: 1.8rem solid #7ca5bd;
    transform: scale(1.1);
    z-index: 30;
}

.gallery_photo-1{
    left: 10%;
    top: 15%;
    width: 450px;
}
.gallery_photo-2{
    top: 45%;
    right: 5%;
}
.gallery_photo-3{
    width: 600px;
    left: 35%;
    top: 25%;

}
.footer{
    height: 2%;
    text-align: center;
    color: rgb(228, 186, 186);
    font-size: 2rem;
    padding: 2rem;
}
.footer ul li{
    display: inline-block;
    margin: 1rem;

}
.footer ul li a{
    text-decoration: none;
    color: rgb(228, 186, 186);
}
.footer ul li:hover, .footer ul li a:hover{
    color: rgb(224, 107, 107);
    transform: scale(1.2);
}